{% extends 'main/base.html' %}

{% block title %} Про нас {% endblock %}

{% block content %}
<div class="features">
<h1>Про нас</h1>
<p>In ultricies diam vel rhoncus laoreet. Maecenas tristique ut magna in pellentesque. Vivamus dapibus leo id ultricies commodo. Donec sollicitudin risus arcu, at auctor nunc fringilla eget. Nullam at nibh eleifend, lacinia augue eu, maximus libero. Duis ac odio vestibulum, ultrices massa sit amet, suscipit nulla. Pellentesque fringilla elit quis erat elementum dapibus.</p>
{% endblock %}
</div>