{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features">
<h1>{{ title }}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu libero nec dui sollicitudin vehicula. Praesent finibus sapien vel euismod eleifend. Nam quis pretium lorem. Vivamus scelerisque, ex et interdum laoreet, urna libero imperdiet felis, a tincidunt ante ex id nibh. Cras purus nulla, dictum et nisl et, elementum lacinia nulla. </p>
<button class="btn btn-warning"> На Страницу про нас</button>

</div>
{% endblock %}